{% extends 'base.html' %}
{% block content %}

  <div class="container">
    <h1>index.html</h1>
    <hr>
    {% if request.user.is_authenticated %}

      <table class="table">
        <thead>
          <th>ID</th>
          <th>이름</th>
          <th>email</th>
        </thead>
        <tbody>
          {% for user in users %}
            <tr>
              <td>{{ user.id }}</td>
              <td>
                <a href="{% url 'accounts:detail' user.pk %}">{{user}}</a>
              </td>
              <td>{{ user.email }}</td>
            </tr>
          {% endfor %}
        </tbody>
      </table>

    {% endif %}
  </div>

{% endblock content %}